<body>
  <div class="container modificarproducto">

    <select name="combo_categoria" id="combo_categoria"  style="width: 100%;  text-align: right;">
      {{#each cat}}
      {{#if id_categoria_producto}}
        <option selected value={{id_categoria}}>{{des}}</option>
      {{else}}
       <option value={{id_categoria}}>{{des}}</option>
      {{/if}}
      {{/each}}
      
    </select>
    <select name="combo_subcategoria" id="combo_subcategoria" style="width: 100%;  text-align: right;">
      {{#each subcat}}
      {{#if id_subcategoria_producto}}
        <option codigo={{id_categoria}} selected value={{id_subcategoria}}>{{des}}</option>
      {{else}}
        <option codigo={{id_categoria}} value={{id_subcategoria}}>{{des}}</option>
      {{/if}}
      {{/each}}
    </select>
    

    <form class="grid-div" action="/producto_nuevo_graba" method="post">
      <input id="id_categoria" name="id_categoria" value="{{id_categoria}}" hidden=true> </input>
      <input id="id_subcategoria" name="id_subcategoria" value="{{id_categoria}}" hidden=true> </input>
      <table border=3 style="border-collapse: separate;" id="tabla" align="center">
        <tr>
          <td valign="top" class="descripcion-producto" colspan="2">
              <input id="des" name="des" value="{{des}}" style="width:800px; align= center"> </input>
          </td>
        </tr>
        <tr>
          <td>
            <BR>Imagen actual</BR>
              {{#if foto2}}
              <!-- <img class="grid-img" src="../../img/{{foto2}}" value="../../img/{{foto2}}" />-->
              <img class="grid-img" src="https://losrosales-fileserver.s3-sa-east-1.amazonaws.com/img/{{foto2}}" />

              {{else}}
              <img class="grid-img" />

              {{/if}}
              <input id="foto_{{id_producto}}" value="{{foto2}}" hidden=true></input>

            </td>
            <td>
                <BR>Imagen nueva</BR>
            </td>
          </tr>
          <tr  style="align:left;">
            <td style="align-items: left; text-align: left;">
               <BR>Orden: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <input id="orden" name="orden" value="{{orden}}" style="width:600px; align:center"></input>
              <BR>Nota: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <input id="nota" value="{{nota}}"name="nota" style="width:600px; align:center"></input>
              <BR>Tipo de venta :
              <select id="tipoventa2" value="{{tipoventa}}" >
                <option selected value={{tipoventa}}>{{tipoventa}}</option>
                <option value="unidad">unidad </option>
                <option value="kilo">kilo </option>
                <option value="kilo.">kilo y unidad </option>
              </select>
               <input id="tipoventa" name="tipoventa" value="{{tipoventa}}"  hidden=true> </input>
              <BR>Se fracciona x:
              <input name="unidad" type="text" align="right" width="20%" id="unidad" value={{unidad}}></input>
            </td>

            <td>
              <input class="total-price" id="precio1" name="precio1" value={{precio1}}></input>

            </td>
          </tr>
          <tr>
            <td>
            <!--  <BR>Visible :
              {{#if visible}}
              <input type="submit" id="visible"  name="visible" onclick=destildar() style="background-color:green;"class="btn btn-info" />   
                <!--<input name="visible" id="visible" type="checkbox" checked />  -->             
            <!-- {{else}}
              <input type="submit" id="visible"  name="visible"  onclick=tildar() style="background-color: red;"class="btn btn-info"/>
                <!-- <input name="visible" id="visible" type="checkbox" />--> 
             <!-- {{/if}}
                <BR>Visible :--> 
           <input type="text" align="right" id="visible" name="visible" value="1" hidden=true></input>
        
           </td>
           </tr>
          <tr>
        </td>
        </tr>
  
        <tr>
          <td align="center">
            <input class="btn btn-primary btn-lg active" role="button" aria-pressed="true" value="Grabar" type="submit"
              id="boton_grabar"></button>
          </td>
          <td align="center">
            <input class="btn btn-primary btn-lg active" aria-pressed="true" value="Cancelar" type="submit"
              onclick=cancelar()></input>
          </td>
        </tr>




      </table>

    </form>

  </div>




  <script type="text/javascript">
    console.log("jesus");
    var var_id1 = document.getElementById("combo_categoria");
    var var_id2 = document.getElementById("combo_subcategoria");
    console.log("cat");
    console.log(var_id1);
    console.log("subcat");
    console.log(var_id2);
    document.getElementById('id_categoria').value = document.getElementById('combo_categoria').value;
    document.getElementById('id_subcategoria').value = document.getElementById('combo_subcategoria').value;
    if (var_id1.addEventListener) {
      var_id1.addEventListener("change", cambiar);
    } else if (var_id1.attachEvent) {   
      var_id1.attachEvent("change", cambiar); 
    }

  
    function cambiar() {
      console.log('entro cambiar');
      console.log(var_id2.options.length);
      for (var i = 0; i < var_id2.options.length; i++)


        if (var_id2.options[i].getAttribute("codigo") == var_id1.options[var_id1.selectedIndex].getAttribute("value")) {
          var_id2.options[i].style.display = "block";
          console.log("igual", var_id2.options[i].getAttribute("codigo"));
        } else {
          var_id2.options[i].style.display = "none";
          console.log("distinto", var_id2.options[i].getAttribute("codigo"));
        }
     

      var_id2.value = "";
    }

    function cancelar() {
      console.log('cancelar edicion');
      Swal.fire({
        title: 'Edicion cancelada ....',
        text: '',
        showConfirmButton: false,
        timer: 2000
      }).then(function () {
        window.location = "/productocambia";
      })
    };

    $('#combo_categoria').change(function(){
      console.log('cambio categoria'); 
      console.log( document.getElementById('combo_categoria').value);
       document.getElementById('id_categoria').value = document.getElementById('combo_categoria').value;
      });

     $('#combo_subcategoria').change(function(){
      console.log('cambio subcategoria'); 
      console.log( document.getElementById('combo_subcategoria').value);
       document.getElementById('id_subcategoria').value = document.getElementById('combo_subcategoria').value;
      });

     $('#tipoventa2').change(function(){
      console.log('cambio tipo de venta'); 
      console.log( document.getElementById('tipoventa2').value);
       document.getElementById('tipoventa').value = document.getElementById('tipoventa2').value;
      });
      
   function destildar() {
       console.log("destildar");
       document.getElementById("visible").style.visibility = 0;
       document.getElementById("visible").style="background-color:red;";
        location.reload();
    }
    
    function tildar() {
       console.log("tildar");
       document.getElementById("visible").style.visibility = 1;
       document.getElementById("visible").style="background-color:green;";
        location.reload();
    }

  </script>


</body>